.obj/
.moc/
*.app/
Makefile
/doc/refManual/
/examples/**/ui_*.h
.qglviewer.xml
QGLViewer/libQGLViewer.prl
designerPlugin/libqglviewerplugin.dylib
*.pro.user
**/.qmake.stash
**/.qmake.cache
QGLViewer/ui_*.h
QGLViewer/QGLViewer.framework/
